.collections{
  &__image-wrapper{
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    @include mq($lg){
      height: 40vh;
    }
  }
  &__wrapper{
    margin-top:.8rem;
    @include mq($lg){
      margin-top:2rem;
    }
  }
  &__description{
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 0.9rem;
  }
  &__pagination{
    margin: 2rem 0;
    & span{
      display: inline-block;
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      line-height: 2rem;
      background: $dark;
      padding-top:.1rem;
      color:white;
      text-align: center;
      border-radius: 50%;
    }
    & a {
      margin:1rem;
    }
  }
}