* {
	box-sizing: border-box;
}
body{
	font-family: $primary-font;
	font-weight: $f-normal;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
h1{
font-size:1.8rem;
margin:0;
line-height: 1.8;
@include mq($lg){
	font-size: 2.5rem;
	color: $dark;
}
}
h2,h3,h4,h5,p{
	margin:0;
}
img{
	width:100%;
}
a{
	text-decoration: none;
	color:$rose;
}
.container {
position: relative;
margin: 0 auto;
padding:0 1rem;
@include mq($md){
padding:0 2rem;
max-width: $xl;
}
}
.pd{
	margin-bottom: 0.5rem;
	@include mq($md){
		margin-bottom:1.5rem;
		}
}