//font
$primary-font: 'Spartan', 'sans-serif';

//weights
$f-thin: 100;
$f-normal: 300;
$f-bold: 600;
$f-xl:900;

//colors
$accent: #83d0bd;
$contrast: #f48400;
$rose:rosybrown;
$dark: #2f3237;

//screen sizes
$sm: 29.6875rem;
$md: 48rem;
$lg: 60.5rem;
$xl: 88rem;