<div class="container">
	<div class="header">
		<div class="header__wrapper">
		<span class="logo">	Anodyne-shop</span>
			<!-- <a href="/" class="header__logo-wrapper">
				<img src="{{ settings.logo  | img_url: 'master' }}" alt="{{ settings.logo.alt }}" class="header__logo">
			</a> -->
			{% render 'nav' %}
		</div>
	</div>
</div>